/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu+Mono:wght@400;700&display=swap');

body, html {
    font-family: 'Montserrat', monospace;
    color: var(--color-black);

    margin: 0;
    padding: 0;
    height: 100vh;
    scroll-snap-type: x mandatory !important;
    -webkit-overflow-scrolling: touch; /*Enable smooth scrolling on iOS; */

    user-select: none;
}

.landing_page{
    height: --webkit-fill-available;
}

@media only screen and (max-width: 768px) {
    .landing_page {
      height: 100svh;
      width: 100svw;
      position: relative;
      overflow-y: hidden;
    }
}

/* theme colors - start */
.light{
    --color-black: #373534;
    --color-beige: #F1E9D2;
    --color-olive: #BCB999;
}

.dark {
    --color-black: #f1e9d2b4;
    --color-olive: #2B2929;
    --color-beige: #373534;
  }

/* theme colors - end */

.cat{
    position: absolute;
    bottom: 0;
    left: 20vw;
}


/* reused font styles - start */
h1 {
    font-weight: 800;
    font-size: 5rem;
    margin: 1rem;
    margin-left: 0;
}

h2 {
    font-weight: 800;
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}

h4{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

p{
    font-size: 1rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 800;
}

.svg_container{
    position: relative;
    transition: all 0.2s;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-weight: 800;
        font-size: 3rem;
        margin: 0.5rem;
        margin-left: 0;
    }

    h4{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    .svg_container svg {
        width: 2rem;
        height: 2rem;
    }

  
    
}
/* reused font styles - end */



/* reused colors - start */
.bg-color-beige{
    background-color: var(--color-beige);
}

.bg-color-black{
    background-color: var(--color-black);
}

.bg-color-olive{
    background-color: var(--color-olive);
}
/* reused colors - end */



/* grainy background - start */
.grainy {
    z-index: 1;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: grainy-animation .2s infinite;
    opacity: 0.5;
    visibility: visible;
  }
  
  @keyframes grainy-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }
/* grainy background - end */



/* scrollbar - start */
::-webkit-scrollbar {
    background-color: transparent;
    background-color: var(--color-olive);
    height: .2rem;
    width: .2rem;
  }

  
  ::-webkit-scrollbar-thumb {
    background: var(--color-black);
  }
/* scrollbar - end */



/* loading screen - start*/
.loading_screen{
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #373534;
    transition: opacity 0.5s, visibility 0.5s;
    animation: loading 0.5s;
}

.loading_screen_hidden{
    opacity: 0;
    visibility: hidden;
}
/* loading screen - end */



.illustration{
    cursor: pointer;
}

.section {
    scroll-snap-align: start;
    position: relative;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    background-color: var(--color-olive);
}

.section:nth-child(3) {
    background-color: var(--color-beige);
}

@media only screen and (max-width: 768px) {
    .section {
        height: 100svh;
    }
}

/* bottom navigation bar - start */
.bottom_nav_bar{
    z-index: 10;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 2rem;

    font-weight: 800;
    font-size: 1.7rem;
}

@media only screen and (max-width: 640px) {
    .bottom_nav_bar {
        width: 100svw;
        max-width: 100svw;
        /* position: relative; */
    }
}

.buttons {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    position: relative; 
    z-index: 1;
}

@media only screen and (min-width: 640px) {
    .buttons{
        flex-direction: column;
        width: 10%;
    }
    .project_container:hover{
        transform: none;
    }

    .project_container:hover{
        transform: none;
    }
}

.button {
    cursor: pointer;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
}

.about_button > p, .home_button > p, .projects_button > p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}

.project_gallery{
    overflow-x: auto!important;
  }

.project_gallery .container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.project_gallery::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.project_container {
    position: relative;
    margin: 2rem;
    transition: 0.2s ease-in-out;
}

.project_container:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 640px) {
    .project_container:hover{
        transform: none;
    }
}

.project_description {
    width: 20rem;
    padding: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    color: var(--color-beige);
    backdrop-filter: blur(5px);
    background-color: #373534c4;
    border-radius: 1rem;
    
}
.project_display{
    display: flex;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    height: 20rem;
    height: 20rem; 
}

.hidden_workspaces{
    background-image: url("images/projects/HiddenWorkspacesInAarhus/tile-image.png");
    
}

.grundfos{
    background-image: url("images/projects/GrundfosKollegiet/tile-image.png");

}

.wojciechowska_nieruchomosci{
    background-image: url("images/projects/WojciechowskaNieruchomosci/tile-image.png");
    
}

@media only screen and (max-width: 768px) {
    
    .project_description {
        width: 14rem;
    }

    .project_container {
        margin: 1rem;
    }
}

.project_page{
    overflow-x: hidden;
}


.about_me_toggle{
    transition: 0.3s ease-in-out;
    animation: ease-in-out 2s;
}

.about_me_toggle.active {
    height: 90vh;
    left: 0;
    z-index: 20;
    position: absolute;
    transform: translateY(-55%);
    border-radius: 1rem;
}

.rotate_arrow{
    transition: 0.3s ease-in-out;
    animation: ease-in-out 2s;
}

.turn-around{
    transform: rotate(180deg);
}

.show {
    display: block;
}

.arrow{
display: block;
margin: 1rem;
margin-top: 1.3rem;
margin-right: 2rem;
width: 1rem;
height: 1rem;
border-top: 3px solid var(--color-black);
border-left: 3px solid var(--color-black);
transform: rotate(45deg);
}

.project_images {
    margin-top: 5vh;
    margin-bottom: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.project_images > img {
    margin-top: 4rem;
    max-width: 80vw;
}

@media only screen and (max-width: 768px) {
    .project_images > img {
        margin-top: 2rem;
        max-width: 80vw;
    }
    
}


.svg_container:hover .skill_description{
    visibility: visible;
    opacity: 1;
}

.skill_description{
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20%;
    font-weight: 700;
    background: radial-gradient(var(--color-beige) 40%, transparent 70% );
    transition: all 0.2s;
    animation: visibility 0s, opacity 0.4s ease-in-out;
}

.hero_banner{
    background-size: cover;
    height: 50vh;

}
.workspaces{
    background-image: url(images/projects/HiddenWorkspacesInAarhus/background.jpg);
}

.hero_text{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    color: var(--color-beige);
    backdrop-filter: blur(5px);
    background-color: #373534c4;
    
}

.embed_container{
    position: absolute;
    top: 20vh;
    right: 30vw;
}

.audio_player{
    position: relative;
    top: 0;
    left: 0;
    transition: .5s;
    /* opacity: 0; */
}

.embed_inactive{
    display: none;
}

.embed_active{
    display: block;
}


#books, #computer, .radio_button{
    cursor: pointer;
}

.small_illustration{
    display: none;
}

.desk_illustration{
    z-index: 1;
}


@media only screen and (max-width: 768px) {
    .big_illustration{
        display: none;
    }

    .small_illustration{
        display: block!important;
    }

    .home_container{
        gap: 5svh;
    }

    .cat{
         
        top: 0!important;
        left: 5svw;
    }


    #cat{
        transform-origin: center center;
        transform: rotate(180deg);
    }

    .cat #tail {
        display: none;
    }

}


